## Data Types, Variables, and Operators

- bool: boolean values, either True or False; an answer to a yes/no question
- str (string) a sequence of characters "strung" together
- int: whole, or counting numbers
- float: decimal numbers
- list: an ordered sequence of objects
- dict: a collection of values that have names
- NoneType: a special value that indicates absence of a value

In [1]:
type(123)

int

In [2]:
type('Hello')

str

In [4]:
type(True)

bool

In [21]:
age = input('Please enter your age: ')

Please enter your age: 22

In [22]:
type (age) # input type will always be string

str

## Variables
Variables are created by choosing a valid identifier and using the assignment operator, =.

= operator **DOES NOT** mean equal to, it means *assign* to.

== to express equality comparison in Python.

In [6]:
favorite_number = 42
n = favorite_number + 7
print(n)

49

In [9]:
x = 1
print(x)

x = x + 1
print(x)

x = x * 3 + x
print(x)

1
2
8

In [23]:
x = 5
id(x)

140698296969648

In [24]:
y = x
id(y)

140698296969648

## Booleans
2 boolean values: True or False

Boolean values can be compared with == and != operators, which themselves produce a boolean value.

In [15]:
True == True # True
True == False # False
True != True # False
True != False # True

True

Boolean values can be combined with $\color{red}{\text{and}}$ & $\color{red}{\text{or}}$ operators.

In [25]:
True and True # True
True and False # False
True or False # True

True

## Numbers
2 main types that represent numbers: int & float

## Strings

In [1]:
print('Here is a single quote --> \' <--')

Here is a single quote --> ' <--

In [4]:
print("Here is a single quote --> ' <-- ")

Here is a single quote --> ' <--

In [6]:
print()

In [7]:
print('This string\ncontains a newline')

This string
contains a newline

## String Formatting
%

.format

f-stirngs

In [8]:
name = 'World'
'Hello, %s!' % name

'Hello, World!'

In [9]:
'Hello, {}!'.format(name)

'Hello, World!'

In [10]:
f'Hello {name}!'

'Hello World!'

## String Methods
- .lower and .upper
- .strip
- .isdigit
- .split
- .join

In [14]:
s = '       Hello, Codeup!    '

In [15]:
s.strip() # removes any leading and trailing whitespace from the string

'Hello, Codeup!'

In [16]:
s.isdigit() # test whether or not the string is a number

False

In [17]:
'123'.isdigit()

True

In [18]:
s.strip().split(',') # convert a string to a list

['Hello', ' Codeup!']

In [20]:
', '.join(['one', 'two', 'three']) # convert a list to a string

'one, two, three'

## Lists

In [22]:
[1, 2, 3] # a list with 3 numbers

[1, 2, 3]

In [21]:
['one', 'two', 'three'] # a list with 3 strings

['one', 'two', 'three']

In [23]:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]] # a list of lists of numbers

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## List Comprehensions
This is a shorthand way to specify what elements should be in a list.

In [24]:
[n for n in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
[n * 2 for n in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [26]:
[n * 2 for n in range(10) if n % 2 == 0]

[0, 4, 8, 12, 16]

## List Operations
Items can be added to a list with <font color='green'>.append</font> and removed with <font color='green'>.pop</font>

In [32]:
numbers = [1, 2, 3]

In [33]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [34]:
numbers.pop()

4

In [35]:
numbers

[1, 2, 3]

In [36]:
len(numbers)

3

In [37]:
numbers[0] # the first element in the list

1

In [38]:
numbers[:2] # everything up to, but not including, the element at index 2

[1, 2]

In [39]:
numbers[1:2] # everthing from index 1 up to, but not including, index 2

[2]

In [40]:
numbers[1:] # everything from index 1 to the end of the list

[2, 3]